    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li id="news">
                        <a>BBC News Scraper</a>
                    </li>
                    <li>
                        <a>Home</a>
                    </li>
                    <li>
                        <a>Saved Articles</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="photo">
        <h1>Saved Articles</h1>
        <img src="images/bbc.png" alt="newspic">
    </div>

    <div id="news-box">

    </div>